.header-tab {
  display: flex;
  overflow: auto;
  width: 100%;
  white-space: nowrap;
  padding: 10px;
}

.header-tab::-webkit-scrollbar {
  display: none;
}

.custom-tab {
  height: 120px;
  line-height: 120px;
}

.custom-tab.active {
  background-color: #ffffff;
}
.rmc-tabs-top {
  height: 100;
  margin-top: 100;
}
.zaui-modal-content .zaui-modal-content-title {
  font-size: 16px;
  color: black;
}
.fill {
  fill: red;
}
.my-svg {
  color: green; /* hoặc sử dụng fill: green; nếu áp dụng cho các yếu tố svg cụ thể */
}
